In [21]:
#Decision tree

import pandas as pd

df = pd.read_csv(r"C:\Users\Aashir\Downloads\titanic.csv")

new_df = df.drop(['PassengerId','Name', 'SibSp','Parch','Ticket', 'Cabin','Embarked'], axis='columns')

inputs= new_df.drop('Survived', axis='columns')
target = new_df.Survived

mean = inputs.Age.mean()
inputs['Age'] = inputs.Age.fillna(mean)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

inputs['Sex_n'] = le.fit_transform(new_df['Sex'])
inputs = inputs.drop('Sex', axis='columns')


from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(inputs, target, test_size=0.3)

from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(inputs, target)

model.predict([[2, 27.0,13.0000, 1]])

array([0], dtype=int64)

In [26]:
y_pred= model.predict(x_test)

In [5]:
inputs

     Pclass   Age     Fare  Sex_n
0         3  22.0   7.2500      1
1         1  38.0  71.2833      0
2         3  26.0   7.9250      0
3         1  35.0  53.1000      0
4         3  35.0   8.0500      1
..      ...   ...      ...    ...
886       2  27.0  13.0000      1
887       1  19.0  30.0000      0
888       3  28.0  23.4500      0
889       1  26.0  30.0000      1
890       3  32.0   7.7500      1

[891 rows x 4 columns]

In [12]:
inputs.shape

(891, 4)

In [27]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred ))

0.9813432835820896