In [19]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Aashir\Desktop\drug200.csv")

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df["Drug_n"] = le.fit_transform(df["Drug"])
df.drop('Drug', axis='columns', inplace= True)

In [21]:
target = df.Drug_n
target

0      4
1      2
2      2
3      3
4      4
      ..
195    2
196    2
197    3
198    3
199    3
Name: Drug_n, Length: 200, dtype: int32

In [23]:
df["Sex_n"] = le.fit_transform(df["Sex"])
df["BP_n"] = le.fit_transform(df["BP"])
df["Cholesterol_n"] = le.fit_transform(df["Cholesterol"])

In [25]:
df.drop(['Sex', 'BP', 'Cholesterol'], axis= 'columns', inplace=True)
df.head()

   Age  Na_to_K  Drug_n  Sex_n  BP_n  Cholesterol_n
0   23   25.355       4      0     0              0
1   47   13.093       2      1     1              0
2   47   10.114       2      1     1              0
3   28    7.798       3      0     2              0
4   61   18.043       4      0     1              0

In [66]:
inputs = df[['Age','Na_to_K','Sex_n','BP_n', 'Cholesterol_n']]

inputs.tail()

     Age  Na_to_K  Sex_n  BP_n  Cholesterol_n
195   56   11.567      0     1              0
196   16   12.006      1     1              0
197   52    9.894      1     2              0
198   23   14.020      1     2              1
199   40   11.349      0     1              1

In [75]:
x_test[2:5]

     Age  Na_to_K  Sex_n  BP_n  Cholesterol_n
52    62   27.183      1     1              1
129   32    7.477      0     2              0
107   42   20.013      1     1              0

In [54]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(inputs, target, test_size=0.15)

In [76]:
y_test[2:5]

52     4
129    3
107    4
Name: Drug_n, dtype: int32

In [85]:
model.predict([[19, 2.111, 1, 2, 3]])

array([3])

In [55]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train, y_train)

model.score(x_test, y_test)

1.0

In [57]:
y_pred = model.predict(x_test)
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

1.0

In [58]:
newdf.head(10)

   Age Sex      BP Cholesterol  Na_to_K  Drug_n
0   23   F    HIGH        HIGH   25.355       4
1   47   M     LOW        HIGH   13.093       2
2   47   M     LOW        HIGH   10.114       2
3   28   F  NORMAL        HIGH    7.798       3
4   61   F     LOW        HIGH   18.043       4
5   22   F  NORMAL        HIGH    8.607       3
6   49   F  NORMAL        HIGH   16.275       4
7   41   M     LOW        HIGH   11.037       2
8   60   M  NORMAL        HIGH   15.171       4
9   43   M     LOW      NORMAL   19.368       4

In [68]:
model.predict([[40,11.349,0, 1,1]])

array([3])